.f14 {
  -fx-font-size: 14px;
}

.f15 {
  -fx-font-size: 15px;
}

.f16 {
  -fx-font-size: 16px;
}

.f20 {
  -fx-font-size: 20px;
}


.fwb {
  -fx-font-weight: bold; 
}

.fc666 {
  -fx-text-fill: #666;
}

.fc999 {
  -fx-text-fill: #999;
}

.cell-separator {
  -fx-border-color: #444;
  -fx-border-width: 0 0 1 0;
}

.badge {
  -fx-hgap: 20px;
  -fx-padding: 8px;
  -fx-background-color: teal;
  -fx-background-radius: 50px;
  -fx-font-weight: bold; 
  -fx-text-fill: #fff;
  -fx-border-insets: 4px;
}

.p8{
  -fx-padding: 8px;
}